body{
    background-color: aqua;
}
.header{
    background-color: rgb(117, 32, 197);

    color: rgb(53, 232, 77);
}
.p1{
   background-color: tomato;
   color: rgb(229, 98, 5);
   height: 70px;;
}

.pic1{
background-color: whitesmoke;
width: 510;
height: 510;
}

.list1{
 background-color: orchid;
 width: 100;
}